[Unit]
Description=RAD Server 0
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=minecraft
WorkingDirectory=/opt/minecraft/radserver0
ExecStart=/opt/minecraft/radserver0/start-radserver0.sh
Restart=on-failure
Sockets=radserver0.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target