[Unit]
Description=Xonotic Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=xonotic
WorkingDirectory=/opt/xonotic
ExecStart=/bin/bash /opt/xonotic/server_linux.sh
Restart=on-failure
Sockets=xonotic.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target